{% extends 'auths/base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}
<div class="container contact-comment-section">
    <h2>Password Change</h2>
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

    <form id="contact-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group mb-0">
            <input class="btn-send" type="submit" value="Change my password">
        </div>
    </form>
</div>
{% endblock %}