{% extends 'auths/base.html' %} {% load static %} {% block title %}Profile Details{% endblock title %} {% block content %}

<div class="container contact-comment-section">

    <div id="form-messages">
        {% if messages %} {% for message in messages %}
        <h3 style="text-align: center;">{{ message }}</h3>
        {% endfor %} {% endif %}
    </div>
    <h3>
      {{ title }} {{ first_name }} {{ last_name }}, Your Profile Details:
    </h3>
    <div class="d-flex justify-content-center">
        <div class="col-md-4 col-sm-12">
            <div>
                Status : {{ status }}<br>
                Username: {{ username }}<br>
                Title: {{ title }}<br>
                First Name: {{ first_name }}<br>
                Surname: {{ last_name }}<br>
                Email: {{ email }}<br>
                Middle Name: {{ middle_name }}<br>
                Gender: {{ gender }}<br>
                Date Of Birth: {{ date_of_birth }}<br>
                Age: {{ age }}<br>
                Address: {{ address }}<br>
                Religion: {{ religion }}<br>
                Phone Number: {{ phone_number }}<br>
                About You: {{ about_me }}<br>
                Date Registered: {{ created_date }}<br>
            </div>
        </div>

        <div class="col-md-4 col-sm-12">
            File Number : {{ file_no }}<br>
            Designation: {{ designation }}<br>
            Grade Level: {{ grade_level }}<br>
            Date Of First Appointment: {{ first_appointment }}<br>
            No. Of Years In Service: {{ years_in_service }}<br>
            Highest Qualification Attained: {{ qualification }}<br>
            Area Of Expertise: {{ discipline }}<br>
            Date Of Birth: {{ date_of_birth }}<br>
            Current Zone Posted: {{ current_posting_zone }}<br>
            Current School Assigned: {{ current_posting_school }}<br>
            Previous School Posted 1: {{ previous_posting_1 }}<br>
            Previous School Posted 2: {{ previous_posting_2 }}<br>
            Previous School Posted 3: {{ previous_posting_3 }}<br>
        </div>
        
        <div class="col-md-4 col-sm-12">
            <img src="{{ picture.url }}">
        </div>
    </div>
    <button class="btn btn-primary my_btn">
        <a style="color: white;" href="{% url 'auths:update_non_teacher_profile' %}" class="sl-readmore-btn mr-30" data-animation-in="lightSpeedIn" data-animation-out="animate-out">Edit Profile</a>
        <a style="color: white;" href="{% url 'auths:non_teacher_docs' %}" class="sl-readmore-btn mr-30" data-animation-in="lightSpeedIn" data-animation-out="animate-out" target="_blank">View Uploaded Files</a>
        <a style="color: white;" href="{% url 'auths:n_render_pdf_view' %}" class="sl-readmore-btn mr-30" data-animation-in="lightSpeedIn" data-animation-out="animate-out" target="_blank">Print</a>
    </button>

</div>
{% endblock content %}